/**
 * Style.css
 */
body {
  margin: 50px auto;
  width: 1280px;
  word-break: break-all;
}

div #header, #menu, #breadcrumb, #content, #footer {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
}

caption {
  font: bold 28px serif;
}

table.gradebook {
  margin: 10px;
  text-align: left;
  border-spacing: 0;
  border: 1px solid #000000;
  box-shadow: 0 0 10px #000000;
}

table.gradebook th, td, hr {
  border: 1px solid #C8C8C8;
}

table.gradebook input, select {
  border-width: 0;
  display: block;
}

table.gradebook select {
  width: 100%;
}

a.active {
  color: red;
}

#menu li {
  width: 200px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px #000000;
}

#message p {
  margin: 10px;
  padding: 10px;
}

#message p.status{
  box-shadow: 0 0 10px #33FF66;
}

#message p.error{
  box-shadow: 0 0 10px #FF0000;
}